---
layout: default
---

<div id="home">
  <div class="main-top-background">
    <div class="hm_top hm_desktop">
      <div class="hm_top_wrap"></div>

      <!--<div class="hm_20years_section">
			<div class="hm_20years_section_wrap">
				<div class="left"><img src="https://content.backgroundsonline.com/images/sites/bgo/BGO20_hm_sm.png" width="127" height="89" border="0" /></div>

				<div class="left"><span class="very_bold">Celebrating Two Decades</span> <br />of Background Screening</div>
			</div>
			</div>-->
    </div>
    <div
      class="mobile_start_screen_copy mobile_home"
      style="text-align: center;"
    >
      <!-- <div class="hm_top_wrap">
				<h1 class="hm_top_header">Background Screening Solutions</h1>
				<h2 class="hm_top_header_intro">Tailored to meet your onboarding needs.</h2>
				<div style="text-align: center;">
					<a href="CreateAccount/index.html" class="hm_btn_signup">Start Screening</a>
				</div>
			</div> -->
    </div>
    <div class="hm_top_wrap hm_promo">
      <div class="main_points hm_promo_background">
        <div class="infinite-slider unslider-horizontal">
          <ul
            class="unslider-wrap unslider-carousel"
            style="width: 800%; margin-left: -100%; left: 0%;"
          >
            {% for news in site.posts %}
            <li class="unslider-clone row" style="width: 12.5%;">
              <div class="row">
                <div class="col-md-12 slide" style="vertical-align: top;">
                  <div
                    class="header_promo"
                    style="text-align: center; padding: 0px 0px 10px 0px;"
                  >
                    {{ news.title }}
                  </div>
                  <!-- <p style="text-align: center; padding: 0px 25px;">
                    Now you have even more options to use our services directly
                    through your preferred ATS. You'll get a secure connection
                    that saves time, reduces manual data entry and expedites the
                    screening process.
                  </p> -->
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="background-color:#fff;">
    <div class="hm_certification_logos home_bgo_protects"></div>
  </div>

  <div class="hm_sub_nav">
    <ul class="hm_sub_nav_txt">
      {% for logo in site.data.home_logos %}
      <li class="logo_width">
        <a href="#">
          <img
            src="/assets/image/logos/{{ logo.img }}"
            alt="report"
            border="0"
            height="100"
            width=""
            style="display: block; margin: 0px auto;"
          />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- main_points -->

  <div class="home-simplified">
    <div class="home-simplified_wrap">
      <div class="home-simplified_content">
        <h2 class="header_2">
          Improving the resolution and accuracy of cardiovascular phenotypes
          will lead to novel insights and therapies.
        </h2>
        This can occur by drilling down—understanding the genetic and cellular
        mechanism of a particular disease—or going broad, using computational
        means to analyze precision phenotypes at scale. Dr. Arnaout is currently
        developing computational methods to bring precision phenotyping to
        medical imaging. Her background as a physician-scientist informs the
        future scope of this work as a technology that can transform
        non-invasive imaging into a big-data tool for both research and clinical
        use. She also uses animal and in vitro models to study cardiovascular
        gene function and to model human cardiovascular disease. <br /><br />
        <!-- 
        Discover <span class="very_bold">fast, dependable</span> background
        screening today. -->

        <!--  <div class="home-simplified_btn">
					  <a href="started.html" class="btn_1_white">Get Started</a>
				  </div> -->
      </div>
      <!-- home-simplified_content -->
    </div>
  </div>
  <!-- home-simplified -->

  <div class="blog_area">
    <div class="blog_area_vertical">
      <div class="blog_area_wrap">
        <div class="blog_logo"></div>
        <!-- blog_logo -->
        <div class="blog_copy"></div>
        <!-- blog_copy -->
      </div>
      <!-- blog_area_wrap -->
    </div>
  </div>
  <!-- blog_area -->
  <div class="clear"></div>
</div>
