<div class="footer">
  <div class="footer_wrap">
    <div class="footer_columns">
      <div class="footer-tablet">
        <div class="footer-col1">
          <a href="index.html">Home</a><br />
          <a href="products-and-services.html">Products</a><br />
          <a href="industry-background-check/index.html">Solutions</a><br />
          <a href="resources.html">Resources</a><br />
          <a href="why-us.html">Why Us</a><br />
          <a href="technology.html">Technology</a><br />
          <!--<a href="~/web-services">API</a><br />-->
          <a href="NAPBS-Accredited.html">NAPBS Accredited</a><br />
          <a href="SOC2-Report.html">SOC2 Report</a><br />
          <a href="Criminal-Monitoring.html">Criminal Monitoring</a><br />
          <a href="Branded-Solutions.html">Branded Solutions</a><br />
          <a href="CreateAccount/index.html">Start Screening</a><br />
          <a href="https://clients.backgroundsonline.com/login.aspx">Log In</a>
        </div>
        <div class="footer-col2">
          <a href="faqs.html">FAQs</a><br />
          <a href="blog/index.html">Blog</a><br />

          <a
            href="https://livechat.boldchat.com/aid/9008630725231349907/bc.chat?resize=true&amp;cbdid=1148996819574735672&amp;wdid=1862025269025292451"
            target="_blank"
            onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat7264917492266979376', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"
            >Chat</a
          ><br />
          <a href="contact-sales.html">Contact Sales</a><br />
          <a href="free-demo.html">Free Demo</a><br />
          <a href="state-laws.html">State Laws</a><br />
          <a href="dispute-results.html">Dispute Results</a><br />
          <a href="Careers/index.html">Careers</a><br />
          <a href="privacy-policy.html">Privacy Policy</a><br />
          <a href="contact-us.html">Contact Us</a><br />
        </div>
      </div>
      <div class="footer-col3">
        <a
          href="http://www.facebook.com/pages/Backgrounds-Online/139026756166410"
          class="socialf fb"
          target="_blank"
        >
          <div class="footer_logo_3">
            <img src="/assets/img/sites/bgo/social-fb-bw.png" height="28" />
            <img
              src="/assets/img/sites/bgo/social-fb.png"
              class="img-top"
              height="28"
            />
          </div>
        </a>
        <a
          href="http://twitter.com/#!/BGO_screening"
          class="socialf twitter"
          target="_blank"
        >
          <div class="footer_logo_3">
            <img
              src="/assets/img/sites/bgo/social-twitter-bw.png"
              height="28"
            />
            <img
              src="/assets/img/sites/bgo/social-twitter.png"
              class="img-top"
              height="28"
            />
          </div>
        </a>
        <a
          href="http://www.linkedin.com/company/backgrounds-online"
          class="socialf linkedin"
          target="_blank"
        >
          <div class="footer_logo_3">
            <img src="/assets/img/sites/bgo/social-li-bw.png" height="28" />
            <img
              src="/assets/img/sites/bgo/social-li.png"
              class="img-top"
              height="28"
            />
          </div>
        </a>
        <a
          href="https://plus.google.com/115628525113579696618?prsrc=3"
          class="socialf google"
          target="_blank"
        >
          <div class="footer_logo_3">
            <img src="/assets/img/sites/bgo/social-g-bw.png" height="28" />
            <img
              src="/assets/img/sites/bgo/social-g.png"
              class="img-top"
              height="28"
            />
          </div>
        </a>
        <br />
        Copyright &#169;<script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        Backgrounds Online <br />
        Background Screening Solutions
      </div>
      <div class="footer-col4" x-ms-format-detection="none">
        <b>Backgrounds Online</b><br />
        1915 21st St.<br />
        Sacramento, CA 95811<br />
        <b>Telephone:</b> 1-800-838-4804 <br />
        <b>Fax:</b> 1-800-838-4654<br />
        <b>Email:</b>
        <a href="mailto:support@backgroundsonline.com"
          >support@backgroundsonline.com</a
        >
      </div>
    </div>

    <div class="footer_logos">
      <a href="NAPBS-Accredited.html">
        <div class="footer_logo_1">
          <img
            src="/assets/img/sites/bgo/footer_napbs_bw.png"
            width="85"
            alt="footer_logo_1 Back"
          />
          <img
            src="/assets/img/sites/bgo/footer_napbs.png"
            class="img-top"
            width="85"
            alt="footer_logo_1 Front"
          />
        </div>
      </a>
      <a href="SOC2-Report.html">
        <div class="footer_logo_1">
          <img
            src="/assets/img/sites/bgo/footer_AICPA_bw.png"
            alt="aipca"
            border="0"
            width="65"
          />
          <img
            src="/assets/img/sites/bgo/footer_AICPA.png"
            class="img-top"
            alt="aipca"
            border="0"
            width="65"
          />
        </div>
        <!-- footer_logo_1 -->
      </a>
      <div class="footer_logo_1">
        <img
          src="/assets/img/sites/bgo/footer_badge_bw.png"
          alt="shield logo"
          border="0"
          width="190"
        />
        <img
          src="/assets/img/sites/bgo/footer_badge.png"
          class="img-top"
          alt="shield logo"
          border="0"
          width="190"
        />
      </div>
      <!-- footer_logo_1 -->
      <a
        href="http://www.bbb.org/sacramento/business-reviews/screening-background-and-employment/backgrounds-online-in-sacramento-ca-47016484/"
        target="_blank"
      >
        <div class="footer_logo_1">
          <img
            src="/assets/img/sites/bgo/footer_bbb_bw.png"
            alt="Better Bussiness logo"
            border="0"
            width="110"
          />
          <img
            src="/assets/img/sites/bgo/footer_bbb.png"
            class="img-top"
            alt="Better Bussiness logo"
            border="0"
            width="110"
          />
        </div>
        <!-- footer_logo_1 -->
      </a>
      <a
        href="https://www.privacyshield.gov/participant?id=a2zt00000004EynAAE&amp;status=Active"
        target="_blank"
      >
        <div class="footer_logo_1">
          <img
            src="/assets/img/sites/bgo/privacy_shield_bw.png"
            alt="Privacy Shield"
            width="160"
            border="0"
          />
          <img
            src="/assets/img/sites/bgo/privacy_shield.png"
            class="img-top"
            alt="Privacy Shield"
            width="160"
            border="0"
          />
        </div>
        <!-- footer_logo_1 -->
      </a>
      <div class="footer_logo_1">
        <img
          src="/assets/img/sites/bgo/footer_concerned_cras_bw.png"
          alt="Concerned CRAs"
          width="70"
          border="0"
        />
        <img
          src="/assets/img/sites/bgo/footer_concerned_cras.png"
          class="img-top"
          alt="Concerned CRAs"
          width="70"
          border="0"
        />
      </div>
      <!-- footer_logo_1 -->
      <a href="http://www.expungementclearinghouse.org/" target="_blank">
        <div class="footer_logo_1">
          <img
            src="/assets/img/sites/bgo/footer_ech_bw.png"
            alt="ECH logo"
            width="160"
            border="0"
          />
          <img
            src="/assets/img/sites/bgo/footer_ech.png"
            class="img-top"
            alt="ECH logo"
            width="160"
            border="0"
          />
        </div>
        <!-- footer_logo_1 -->
      </a>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- footer -->
