<div class="footer">
  <div class="footer_wrap">
    <div class="footer_columns">
      <div class="row">
        <div class="col-sm-6 foot">
          <p>
            &#169;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            Arnaout Lab.
          </p>
        </div>
        <div class="col-sm-6 foot">
          <div class="social">
            <!-- <a
              href="http://www.facebook.com/pages/Backgrounds-Online/139026756166410"
              class="socialf fb"
              target="_blank"
            >
              <div class="footer_logo_3">
                <img src="/assets/img/sites/bgo/social-fb-bw.png" height="28" />
                <img
                  src="/assets/img/sites/bgo/social-fb.png"
                  class="img-top"
                  height="28"
                />
              </div>
            </a> -->
            <a
              href="http://twitter.com/arnaoutlab"
              class="socialf twitter"
              target="_blank"
            >
              <div class="footer_logo_3">
                <img
                  src="/assets/img/sites/bgo/social-twitter-bw.png"
                  height="28"
                />
                <img
                  src="/assets/img/sites/bgo/social-twitter.png"
                  class="img-top"
                  height="28"
                />
              </div>
            </a>
            <!-- <a
              href="http://www.linkedin.com/company/backgrounds-online"
              class="socialf linkedin"
              target="_blank"
            >
              <div class="footer_logo_3">
                <img src="/assets/img/sites/bgo/social-li-bw.png" height="28" />
                <img
                  src="/assets/img/sites/bgo/social-li.png"
                  class="img-top"
                  height="28"
                />
              </div>
            </a>
            <a
              href="https://plus.google.com/115628525113579696618?prsrc=3"
              class="socialf google"
              target="_blank"
            >
              <div class="footer_logo_3">
                <img src="/assets/img/sites/bgo/social-g-bw.png" height="28" />
                <img
                  src="/assets/img/sites/bgo/social-g.png"
                  class="img-top"
                  height="28"
                />
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!-- footer -->
