<div
  class="masthead"
  id="themasthead"
  style="background-color: #052049; z-index:3000;"
>
  <div class="wrap1">
    <a href="/" class="logo">
      Arnaout Lab @ UCSF
      <div class="bgo-logo_reverse"></div>
    </a>
    <div class="nav-wrap">
      <div class="bgo_nav_mobile mobile" style="position: relative;">
        <a href="/" class="logo">
          <!-- <img src="/assets/images/sites/bgo/bgo_logo_white_notag.png" width="200" border="0" /> -->

          <div class="mobile_nav_header"></div>
        </a>
        <div class="menu-button"></div>
      </div>
      <ul data-breakpoint="800" class="flexnav">
        {% for link in site.data.menu %} {% unless forloop.last == true %}
        <li>
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endunless %} {% if forloop.last == true %}
        <li class="nav-btn1">
          <a href="{{ link.url }}" class="nav_btn_login">{{ link.text }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
  <!-- wrap1 -->
</div>
<!-- masthead -->
