/* Flexnav Base Styles */


.flexnav
{
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	max-height: 0;
}

.flexnav a:hover { border-bottom: 1px solid #fff; 
}

.flexnav.opacity {}
ul.flexnav { padding: 0px; }

.flexnav.flexnav-show
{
	max-height: 2000px;

}

.flexnav.one-page
{
	top: 50px;
	right: 5%;
}

.flexnav li
{
	font-size: 100%;
	position: relative;
	overflow: hidden;
	padding:0px;
	/* background-color: #fff; */
	/* border-bottom: 1px solid #000; */
}

.flexnav li a
{
	/* position: relative; */
	display: block;
	/* z-index: 2; */
	/* overflow: hidden; */
	color: #fff;
	border-bottom: 1px #999 solid;
	text-align: left;
	text-decoration: none;
	height: 33px;
	cursor: pointer;
	padding-top: 10px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	padding-left: 10px;
}

.flexnav li ul { width: 100%; 
    padding-left: 0px;}

.flexnav li ul li
{
	font-size: 100%;
	position: relative;
	overflow: hidden;
}

.flexnav li ul.flexnav-show li { overflow: visible; }

.flexnav li ul li a
{
	display: block;
	background: #d5e7f1;
}

.flexnav li ul li a:hover
{
color: #9d529b; 
}


.flexnav ul li ul li a { background: #b9d8ea; }

.flexnav ul li ul li a:hover
{
	color: #FFF;
}

.flexnav ul li ul li ul li a { background: #d5e7f1; }


.flexnav ul li ul li ul li a:hover
{
	color: #FFF;
}





.flexnav .touch-button
{
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 43px;
	height: 43px;
	display: inline-block;
	text-align: center;
	background-image: url(/assets/img/sites/bgo/nav_mobile_more.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #e5e5e5;
	border-left: 2px #FFF solid;
}

.flexnav .touch-button:hover { cursor: pointer; }

.flexnav .touch-button .navicon
{
	position: relative;
	top: 1.4em;
	font-size: 12px;
	color: #666;
	display:none;
}

.menu-button
{
	position: relative;
	display: block;
	color: #222222;
	cursor: pointer;
	width: 43px;
	float: right;
	background-color: transparent;
	background-image: url(/assets/img/sites/bgo/mobile-nav-dropdown.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 43px;
}

.menu-button.one-page
{
	top: 0;
	right: 5%;
	padding-right: 45px;
}

.menu-button .touch-button
{
	background: transparent;
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
}

.menu-button .touch-button .navicon
{
/*
	font-size: 16px;
	position: relative;
	top: 1em;
	color: #666;
*/
display:none;	
}


/*Desktop ================================================================================================================== */

@media all and (min-width: 800px)
{



.flexnav
{
	z-index: 3000;
	position: relative;
}




.flexnav .touch-button
{
	border-left: 0px;
}


.flexnav li ul 
{
width:200px;
border-top: 1px #999 solid;
}

li.nav-btn2
{padding-left: 15px !important;/* padding-bottom: 1px; *//* height: 36px; */}



.nav-btn1
{
	padding-right: 15px!important;
	padding-left: 30px!important;
}
.flexnav li a
{
	/* position: relative; */
	/* display: block; */
	/* z-index: 2; */
	/* overflow: hidden; */
	color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	text-align: left;
	text-decoration: none;
	height: 33px;
	cursor: pointer;
	padding-top: 10px;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	padding-left: 0px;
}
.flexnav li ul li a
{
	padding-left: 5px;
	font-size: 16px;
line-height: 22px;
	height: 30px;
	cursor: pointer;
	padding-top: 8px;
}


.navicon
{
display: none;
}
.taller
{
	height: 45px !important;
	line-height: 18px !important;
}


.flexnav .touch-button
{
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 43px;
	height: 43px;
	display: inline-block;
	text-align: center;
	background-color: Transparent;
	background-image: url(#);
}

.flexnav li ul li .touch-button
{
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 20px;
	height: 38px;
	display: inline-block;
	text-align: center;
	background-color: #328DCC;
	background-image: url(/assets/img/sites/bgo/nav-desktop-more.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}



	body.one-page { padding-top: 70px; }
	.flexnav { overflow: visible; }
	.flexnav.opacity { opacity: 1; }
	
	.flexnav.one-page
	{
		top: 0;
		right: auto;
		max-width: 1080px;
	}
	
	.flexnav li
	{
		position: relative;
		list-style: none;
		float: left;
		display: block;
		overflow: visible;
		text-align: left;
		padding-right: 28px;
	}
	

	.flexnav li li
	{
		position: relative;
		list-style: none;
		float: left;
		display: block;
		overflow: visible;
		text-align: left;
		width: 200px !important;
		padding-right: 0px;
		border-bottom: 1px #999 solid;
		border-right: 1px #999 solid;
		border-left: 1px #999 solid;
	}
	
		.flexnav li li li
	{
		position: relative;
		list-style: none;
		float: left;
		display: block;
		overflow: visible;
		text-align: left;
		width: 200px;
		padding-right: 0px;
	}

	.flexnav li a
	{
		    border-bottom: 2px solid rgba(255,255,255,0);

	}
	
	.flexnav li > ul
	{
		position: absolute;
		top: 43px;
		left: 0;
		padding: 0px;
	}
	
	.flexnav li > ul li { width: 100%; }
	
	.flexnav li ul li > ul
	{
		margin-left: 100%;
		top: 0;
	}
	
	.flexnav li ul li a { border-bottom: none; }
	
	.flexnav li ul.open
	{
		display: block;
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}
	
	.flexnav li ul.open li
	{
		overflow: visible;
		max-height: 100px;
	}
	
	.flexnav li ul.open ul.open
	{
		margin-left: 100%;
		top: 0;
	}
	
	.menu-button { display: none; }


.oldie body.one-page { padding-top: 70px; }
.oldie .flexnav { overflow: visible; }

.oldie .flexnav.one-page
{
	top: 0;
	right: auto;
	max-width: 1080px;
}

.oldie .flexnav li
{
	position: relative;
	list-style: none;
	float: left;
	display: block;
	background-color: #a6a6a2;
	width: 20%;
	min-height: 50px;
	overflow: visible;
}

.oldie .flexnav li:hover > ul
{
	display: block;
	width: 100%;
	overflow: visible;
}

.oldie .flexnav li:hover > ul li
{
	width: 100%;
	float: none;
}

.oldie .flexnav li a
{
	border-left: 1px solid #acaca1;
	border-bottom: none;
	overflow: visible;
}

.oldie .flexnav li > ul
{
	background: #acaca1;
	position: absolute;
	top: auto;
	left: 0;
	display: none;
	z-index: 1;
	overflow: visible;
}

.oldie .flexnav li ul li ul { top: 0; }
.oldie .flexnav li ul li a { border-bottom: none; }

.oldie .flexnav li ul.open
{
	display: block;
	width: 100%;
	overflow: visible;
}

.oldie .flexnav li ul.open li { width: 100%; }

.oldie .flexnav li ul.open ul.open
{
	margin-left: 100%;
	top: 0;
	display: block;
	width: 100%;
	overflow: visible;
}

.oldie .flexnav ul li:hover ul
{
	margin-left: 100%;
	top: 0;
}

.oldie .menu-button { display: none; }
.oldie.ie7 .flexnav li { width: 19.9%; }
