---
---
$primary: {{site.data.color.primary-color}};
$secondary: {{site.data.color.secondary-color}};
$btn-back-color: {{site.data.color.read-more-btn-background}};
$btn-color: {{site.data.color.read-more-text-btn-color}};
@import "main";