---
---
$primary: {{site.data.color.primary-color}};
$primary-text-color: {{site.data.color.primary-text-color}};
$secondary: {{site.data.color.secondary-color}};
$secondary-text-color: {{site.data.color.secondary-text-color}};
$btn-back-color: {{site.data.color.read-more-btn-background}};
$btn-color: {{site.data.color.read-more-text-btn-color}};
$nav-link-color: {{site.data.color.menu-text-color}};
$join-us-btn-color: {{site.data.color.join-us-btn-text-color}};
$join-us-btn-hover-color: {{site.data.color.join-us-btn-hover-text-color}};
$join-us-btn-border-color: {{site.data.color.join-us-btn-border-color}};
$join-us-btn-border-hover-color: {{site.data.color.join-us-btn-border-hover-color}};
$join-us-btn-bg: {{site.data.color.join-us-btn-bg-color}};
$news-box-text-color: {{site.data.color.news-box-text-color}};
$box-hover-color: {{site.data.color.box-hover-color}};
$organizations_font_size: {{site.data.color.organizations_box_font_size}};
$join_us_font_size: {{site.data.color.join_us_box_font_size}};
 
@import "main";