---
layout: default
title: "Member"
permalink: /members/
---

<div id="solutionsbyindustry">
  <!-- main-top-background -->

  <!-- main-area -->

  <div class="sbi_lp_mainarea">
    <div class="sbi_lp_mainarea_wrap">
      <div class="sbi_lp_industry_row">
        {% for person in site.data.pi %}
        <div class="sbi_lp_industry_cube sbi_lp_spacer">
          <img
            src="/assets/image/members/{{ person.image }}"
            width="271"
            height="185"
            border="0"
          />
          <div class="member-info">
            <p>
              <strong>{{ person.name }}</strong>
            </p>
            <p>{{ person.position }}</p>
            <p>{{ person.role }}</p>

            <ul class="member-social">
              <!--  -->
              {% if person.website %}
              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/website_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
              <!--  -->
              {% if person.linkedin %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/LinkedIn_logo_initials.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.twitter %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/twitter_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.github %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/github_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.email %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/email_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="modal-toggle{{ forloop.index }} modal-toggle">+</div>

          <!-- sbi_lp_industry_cube_cover -->
        </div>
        <div class="modal{{ forloop.index }} modal">
          <div class="modal-overlay modal-toggle"></div>
          <div class="modal-wrapper modal-transition">
            <div class="modal-body">
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-6">
                    <img
                      src="/assets/image/members/{{ person.image }}"
                      style="width: 200px; height: 200px;"
                    />
                    <div class="member-info">
                      <p>
                        <strong>{{ person.name }}</strong>
                      </p>
                      <p>{{ person.position }}</p>
                      <p>{{ person.role }}</p>

                      <ul class="member-social">
                        <!--  -->
                        {% if person.website %}
                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/website_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                        <!--  -->
                        {% if person.linkedin %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/LinkedIn_logo_initials.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.twitter %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/twitter_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.github %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/github_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.email %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/email_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="modal-close modal-toggle modal-toggle{{
                        forloop.index
                      }}"
                    ></div>

                    <div class="column left member-details">
                      {{ person.description | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(".modal-toggle{{forloop.index}}").on("click", function(e) {
            e.preventDefault();
            $(".modal{{forloop.index}}").toggleClass("is-visible");
          });
        </script>

        {%endfor%}
        <!-- sbi_lp_industry_cube -->

        <!-- sbi_lp_industry_cube -->
      </div>
      <!-- sbi_lp_industry_row -->
    </div>
  </div>
  <!-- sbi_lp_mainarea_wrap -->
</div>
<!-- member main-area -->

<div id="solutionsbyindustry">
  <!-- main-top-background -->

  <!-- main-area -->

  <div class="sbi_lp_mainarea">
    <div class="sbi_lp_mainarea_wrap">
      <div class="sbi_lp_industry_row">
        {% for person in site.data.members %}
        <div class="sbi_lp_industry_cube sbi_lp_spacer">
          <img
            src="/assets/image/members/{{ person.image }}"
            width="271"
            height="185"
            border="0"
          />
          <div class="member-info">
            <p>
              <strong>{{ person.name }}</strong>
            </p>
            <p>{{ person.position }}</p>
            <p>{{ person.role }}</p>

            <ul class="member-social">
              <!--  -->
              {% if person.website %}
              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/website_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
              <!--  -->
              {% if person.linkedin %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/LinkedIn_logo_initials.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.twitter %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/twitter_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.github %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/github_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.email %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/email_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="modal-toggle-member{{ forloop.index }} modal-toggle">
            +
          </div>

          <!-- sbi_lp_industry_cube_cover -->
        </div>
        <div class="modal-member{{ forloop.index }} modal">
          <div class="modal-overlay modal-toggle"></div>
          <div class="modal-wrapper modal-transition">
            <div class="modal-body">
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-6">
                    <img
                      src="/assets/image/members/{{ person.image }}"
                      style="width: 200px; height: 200px;"
                    />
                    <div class="member-info">
                      <p>
                        <strong>{{ person.name }}</strong>
                      </p>
                      <p>{{ person.position }}</p>
                      <p>{{ person.role }}</p>

                      <ul class="member-social">
                        <!--  -->
                        {% if person.website %}
                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/website_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                        <!--  -->
                        {% if person.linkedin %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/LinkedIn_logo_initials.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.twitter %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/twitter_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.github %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/github_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.email %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/email_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="modal-close modal-toggle modal-toggle-member{{
                        forloop.index
                      }}"
                    ></div>

                    <div class="column left member-details">
                      {{ person.description | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(".modal-toggle-member{{forloop.index}}").on("click", function(e) {
            e.preventDefault();
            $(".modal-member{{forloop.index}}").toggleClass("is-visible");
          });
        </script>

        {%endfor%}
        <!-- sbi_lp_industry_cube -->

        <!-- sbi_lp_industry_cube -->
      </div>
      <!-- sbi_lp_industry_row -->
    </div>
  </div>
  <!-- sbi_lp_mainarea_wrap -->
</div>

<!-- member main-area -->

<div id="solutionsbyindustry">
  <!-- main-top-background -->

  <!-- main-area -->

  <div class="sbi_lp_mainarea">
    <div class="sbi_lp_mainarea_wrap">
      <div class="sbi_lp_industry_row">
        {% for person in site.data.collaborators %}
        <div class="sbi_lp_industry_cube sbi_lp_spacer">
          <img
            src="/assets/image/members/{{ person.image }}"
            width="271"
            height="185"
            border="0"
          />
          <div class="member-info">
            <p>
              <strong>{{ person.name }}</strong>
            </p>
            <p>{{ person.position }}</p>
            <p>{{ person.role }}</p>

            <ul class="member-social">
              <!--  -->
              {% if person.website %}
              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/website_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
              <!--  -->
              {% if person.linkedin %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/LinkedIn_logo_initials.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.twitter %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/twitter_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.github %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/github_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}

              <!--  -->
              {% if person.email %}

              <li>
                <a href="" class="footer_logo_3" style="text-align: center;">
                  <img
                    src="/assets/image/icon/email_logo.png"
                    style="height: 28px;"
                  />
                </a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div
            class="modal-toggle-collaborators{{ forloop.index }} modal-toggle"
          >
            +
          </div>

          <!-- sbi_lp_industry_cube_cover -->
        </div>
        <div class="modal-member{{ forloop.index }} modal">
          <div class="modal-overlay modal-toggle"></div>
          <div class="modal-wrapper modal-transition">
            <div class="modal-body">
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-6">
                    <img
                      src="/assets/image/members/{{ person.image }}"
                      style="width: 200px; height: 200px;"
                    />
                    <div class="member-info">
                      <p>
                        <strong>{{ person.name }}</strong>
                      </p>
                      <p>{{ person.position }}</p>
                      <p>{{ person.role }}</p>

                      <ul class="member-social">
                        <!--  -->
                        {% if person.website %}
                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/website_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                        <!--  -->
                        {% if person.linkedin %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/LinkedIn_logo_initials.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.twitter %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/twitter_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.github %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/github_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}

                        <!--  -->
                        {% if person.email %}

                        <li>
                          <a
                            href=""
                            class="footer_logo_3"
                            style="text-align: center;"
                          >
                            <img
                              src="/assets/image/icon/email_logo.png"
                              style="height: 28px;"
                            />
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div
                      class="modal-close modal-toggle modal-toggle-collaborators{{
                        forloop.index
                      }}"
                    ></div>

                    <div class="column left member-details">
                      {{ person.description | markdownify }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          $(".modal-toggle-collaborators{{forloop.index}}").on(
            "click",
            function(e) {
              e.preventDefault();
              $(".modal-collaborators{{forloop.index}}").toggleClass(
                "is-visible"
              );
            }
          );
        </script>

        {%endfor%}
        <!-- sbi_lp_industry_cube -->

        <!-- sbi_lp_industry_cube -->
      </div>
      <!-- sbi_lp_industry_row -->
    </div>
  </div>
  <!-- sbi_lp_mainarea_wrap -->
</div>
